/* google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
 }

 /*some variables*/
 :root {
--main-color: #ff2c1f;
--text-color: #020000;
--bg-color: #f8f5f5;
 }

 body {
  font-family: 'Poppins', sans-serif;
background: var(--text-color);
color: var(--bg-color);
 }

 section{
  padding: 4.5rem 0 1.5rem;
 }
 header {
position: fixed;
width: 100%;
top: 0;
right: 0;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 100px;
transition: 0.5s;
background: var(--text-color);
 }

  .video-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .video-container {
    background-color: #087708;
    padding: 20px;
    border-radius: 20px;
  }
 .video-container .video-details .price{
    letter-spacing: 7px;
    font-size: small;
  }
  .video-container  .video-details button{
    background-color: #f1f506fa;
    color: #130303;
    padding: 5px 18px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
  }
 .logo{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

 }
  
 .logo .bx{
  font-size: 24px;
  color: var(--main-color);
  
 }
 .navbar{
  display: flex;
  column-gap: 5rem;
 }
 .navbar li {
  position: relative;
 }
 .navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-color);
 }
 .navbar ::after{
  content: '';
  width: 0;
  height: 2px;
  background: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
 }
 .navbar a:hover::after, .navbar .home-active::after{
width: 100%;
 }

 #menu-icon{
  font-size: 24px;
  cursor: pointer;
  z-index: 1000001;
  display: none;
 }
 svg{
  width: 20px ;
 }

 

  /* Add this to your stylesss.css or relevant CSS file */
  

.btn {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


body{
  margin: 0;
  font-family: Poppins;
}
.container{
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: transform .5s;
}
svg{
  width: 30px;
}

.icon-cart{
  position: relative;
}
.icon-cart span{
  position: absolute;
  background-color: red;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -20px;
}
.title{
  font-size: xx-large;
}
.listProduct .item img{
  width: 90%;
  filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProduct .item{
  background-color: #EEEEE6;
  padding: 20px;
  border-radius: 20px;
}
.listProduct .item h2{
  font-weight: 500;
  font-size: large;
}
.listProduct .item .price{
  letter-spacing: 7px;
  font-size: small;
}
.video-container .item button{
  background-color: #353432;
  color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
}

/* cart */
.cartTab{
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .8s;
}
body.showCart .cartTab{
  right: -50px;
}
body.showCart .container{
  transform: translateX(-50px);
}
.cartTab h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
  background-color: #E8BC0E;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .close{
  background-color: #aa2424;
}
.listCart .item img{
  width: 100%;
}
.listCart .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: #eee;
  cursor: auto;
}
.listCart .item:nth-child(even){
  background-color: #eee1;
}
.listCart{
  overflow: auto;
}
.listCart::-webkit-scrollbar{
  width: 0;
}
@media only screen and (max-width: 992px) {
  .listProduct{
      grid-template-columns: repeat(3, 1fr);
  }
}


/* mobile */
@media only screen and (max-width: 768px) {
  .listProduct{
      grid-template-columns: repeat(2, 1fr);
  }
}

